$primaire: #9356DC ;
$secondaire: #FF79DA ;
$tertiaire: #99E2D0 ;
$background_chapitre: #f6f6f6;
$police1: "shrikhand";
$police2: "roboto";
@font-face {font-family:"roboto" ;src:url(../police/Roboto-Regular.ttf);}  
@font-face {font-family:"shrikhand" ;src:url(../police/Shrikhand-Regular.ttf);}     

body
{
 margin: 0px;
 padding: 0px;
}
   
.entete
{
   height: 60px;
   text-align: center;
   line-height: 60px;
   .logo
      {  
         height: 25px;
         width: 160px;
         font-family: $police1;
      }
}

.localite_accueil
{
   text-align: center;
   background-color: #eaeaea;
   box-shadow: 0px 0px 3px;
   height: 50px;
   padding-top: 5px;
      #localite_texte
      {
         margin-left: 10px;
         border: none;
         background-color: #eaeaea;
         font-weight: 700;
      }
      .fa-map-marker
      {
         margin-left: 40px;
      }
}

.img_accueil
{
   border-top-left-radius:  20px;
   border-top-right-radius: 20px;
   width: 340px;
   height: 175px;
   object-fit: cover;
   @media screen and (min-width:1000px) 
   {
      margin-right: 30px;   
   }
   @media screen and (min-width:1110px) 
   {
      margin-right: 60px;   
   }
   @media screen and (min-width:1200px) 
   {
      margin-right: 120px;   
   }
   @media screen and (min-width:1378px) 
   {
      margin-right: 200px;   
   }
   @media screen and (min-width:1510px) 
   {
      margin-right: 0px;
   }
}
h4
{
   font-family: $police2;
   font-size: 25px ;
   padding-left: 20px;
   @media screen and (min-width: 1000px) 
   {
      text-align: center;   
   }
}
h3
{
   font-family: $police2;
   font-weight: 100;
   text-align: center;
}

h2
{
   padding-left: 20px;
   font-family: $police2;
   font-size: 25px;
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: $background_chapitre ;
   
   @media screen and (min-width:1000px) 
   {
      text-align: center;   
   }
}


.presentation_accueil
{
   display: flex;
   flex-direction: column;
   background-color: $background_chapitre;
   padding-top: 40px;
   padding-bottom: 60px;
   

   h1
   {
      font-family: $police2;
      text-align: center;
   }


   .explorez
   {
      display: flex;
      align-self: center;
      min-width: 220px;
      height: 50px;
      box-shadow: 5px 5px 1px #eaeaea;
      opacity: 1;
      border-radius: 50px;
      line-height: 50px;
      vertical-align: middle;
      background: linear-gradient(to bottom , $secondaire ,$primaire );
      &:hover
      {
         opacity: 0.8;
         box-shadow: 5px 5px 1px #c9c7c7
      }
      #explorez_texte
      {
         color: white;
         margin-left: 20px;
         font-family: $police2;
      }
      
   }
}
   
.ctn_fonction
{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 60px;
   .fonctionnement
   {
      background-color: $background_chapitre ;
      box-shadow: 5px 5px 1px #eaeaea;
      margin-bottom: 20px;
      border-radius: 20px;
      margin-left: 15px;
      padding-left: 10px;
      width: 320px;
      height: 75px;
      line-height: 75px;
      vertical-align: middle;
      @media screen and(min-width:1300px) 
      {
         margin-top: 40px;  
         margin-left: 40px;  
      }
      .fonctionnement_chiffre
       {
         padding-left: 5px;
         padding-right: 5px;
         padding-bottom: 2px;
         padding-top: 2px;
         background-color: $primaire;
         color: white;
         border-radius: 50%;
         margin-right: 20px;
         margin-left: -20px;
       }
       .fonctionnement_icone
         {
            margin-right: 20px;
         }
      .fonctionnement_texte
          {
             font-family: $police2;
              text-align: center;
          } 
   }
   @media screen and (min-width:1300px) 
   {
      display: flex;
      flex-direction: row;
      justify-content:center ; 
      
   }
}

.fa-store
   {
      color: $primaire;
   }

.restaurant
{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: -25px;
   width: auto;
   background-color: $background_chapitre;
   padding-top: 40px;
   padding-bottom: 60px;
   @media screen and (min-width:1000px) 
   {
      flex-direction: row;
      flex-wrap: wrap; 
      justify-content: center;
   }
   @media screen and (min-width:1510px) 
   {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: nowrap;  
   }
   
   a
   {
      text-decoration: none;
      color: #000;
   }
   .restaurant_identification
   {
      border-bottom-left-radius:  20px;
      border-bottom-right-radius: 20px;
      background-color: white;
      box-shadow: 5px 5px 1px #eaeaea;
      width: 340px;
      padding-top: 20px;
      margin-top: -10px;
      padding-bottom: 20px;
      margin-bottom: 15px;
   }
   .coeur
   {
      position: relative;
      float: right;
      margin-right: 35px;
      margin-top: -10px;
      .fas
      {
         height: 0%;
         transition: height 2s;
         color: transparent;
         background: none;
         position: absolute;
         margin-left: -16px;
         margin-top: 1px;
      }
      &:hover
      {
         
         .fas
         {
            height: 100%;
            background: linear-gradient(to top , $secondaire ,$primaire, );
            background-clip: text;
           -webkit-background-clip: text;
         }
      }
   }
  
   .restaurant_nom
   {
      font-family: $police2;
      margin-left: 20px;
      font-weight: bold;
   }
   .restaurant_lieu
   {
      font-family: $police2;
      font-weight: 100;
      margin-left: 20px;
   }
   .carte_restaurant_nouveau
   {
      display: inline-block;
   }
   .btn_restaurant
   {
      height: 30px;
      width: 80px;
      color: #008766;
      background-color: $tertiaire;
      position: absolute;
      z-index: 1;
      margin-top: 15px;
      margin-left: 245px;  
   }
}

footer
{
   color: white;
   background-color: #353535;
   padding-top: 25px;
   padding-left: 25px;
   padding-bottom: 35px;
   @media screen and (min-width:600px) 
   {
      text-align: center;
   }
   .logo_footer
   {
      width: 100px;
      filter: invert(100%);
   }
   a
   {
      text-decoration: none;
      color: white;
   }
   .footer_texte
   {
      margin-left: 10px;
   }
   .icone_footer
   {
      margin-right: 5px;
   }
   #texte_footer
   {
      margin-left: 10px;
   }
   p
   {
      line-height: 200%;
   }
}

      .loading
      {
         opacity: 0;
         animation: spinner 3s;
         position: fixed;
         pointer-events: none;
         text-align: center;
         z-index: 2;
         padding-top: 60%;
         padding-bottom: 40%;
         width: 100%;
         height: 100%;
         background:linear-gradient(to top , $secondaire ,$primaire ); 
         @media screen and (min-width:1300px) 
         {
            padding-top: 30%;  
            padding-bottom: 70%; 
         }
         .loading_logo
         {
            height: 30px;
            width: 280px;
            animation: rotation 2s;
            @media screen and (min-width:1300px) 
            {
               max-width: 600px;   
            }
         }
        
      }
      
      @keyframes spinner
      {
         0%{
            opacity: 1;
         }
         50%
         {
            opacity: 1;
         }

         100%{
            opacity: 0;
         }
         
      }
      @keyframes rotation
      {
      from{
            transform: rotate(360deg);
            transform-origin: center;
            transition-property: transform;
          }
         
      }
     